body {
  font-family: Roboto;
  margin: 0;
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  display: flex;
  justify-content: space-between;
  height: 60px;
  background: #424242;
  color: white;
  align-items: center;
  padding: 0 15px;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-between;
  width: 500px;
  height: 500px;
}
